* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

:root {
    --primary-color:#5888A6;
    --dark-color: #32628C;
    --black-color: #00001a;
    --light-color: #ADC8D9;
    --white-color: #EBF0F2;   
    --gray-color: #e0e0e0;
}

/* Navbar */
.navbar {
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0px 15px 20px;
}

.logo-image {
    width: 30%;
}

.main-menu {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 550px;
} 

.main-menu a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: var(--black-color);
    font-weight: bold;
    font-size: 1rem;
}

.icon {
    display: block;
    font-size: 1.5rem;
}

.main-menu a:hover {
    transition-duration: 0.3s;
    color: var(--primary-color)
}

/* Stats */

.full-stats{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0px 0px;
}

.generate{
    border: 2px solid var(--black-color);
    font-size: 0.6rem;
    font-weight: bold;
    width: 20%;
    height: 70px;
    background-color: var(--gray-color);
    border-radius: 20px;
    box-shadow: 3px 3px 3px var(--black-color);
}

.generate:hover{
    transition-duration: 0.8s;
    background-color: var(--primary-color);
}
.stats{
    border: 2px solid var(--black-color);
    border-radius: 20px;
    width: 70%;
    height: 60px;
    background-color: var(--light-color);
    display:flex;
    justify-content: space-around;
    border: 2px solid var(--black-color);
    box-shadow: 3px 3px 3px var(--black-color);
}

.stats div {
    font-size: 0.7rem;
    font-weight: normal;
    align-self: center;
}

/* Question-Box */
.question-box{
    padding: 20px;
    margin: 50px auto 0px;
    width: 90%;
    height: 350px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: var(--light-color);
}

.question{
    margin: 20px auto 0px;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 1rem;
}

.choices {
    display: flex;
    justify-content: space-around;
}

.choices div {
    display:flex;
    align-items: center;
    justify-content: center;
}

.bigA, .bigB, .bigC, .bigD, .bigE{
    font-weight: bold;
    font-size: 1.2rem;
}

.a-choice, .b-choice, .c-choice, .d-choice, .e-choice{
    width: 30px;
}

.a-choice, .b-choice, .c-choice, .d-choice, .e-choice{
    font-size: 1rem;
}

/* Answer */
.answer{
    width: 90%;
    margin: 40px auto 30px; 
    display:flex;
    justify-content: space-evenly;
}

.answer button{
    font-size: 2rem;
    font-weight: bold;
    border: 3px solid var(--black-color);
    background: var(--gray-color);
    border-radius: 15px;
    padding: 10px 15px;
    box-shadow: 3px 3px 3px var(--black-color);
    color: var(--primary-color);
}

.answer button:hover{
    transition-duration: 0.6s;
    color: var(--dark-color);
}

/* Popup */
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: none;
}

.popup-content {
    border-radius: 20px;
    background-color: var(--white-color);
    height: auto;
    margin: 300px auto;
    padding: 20px;
    border: 3px solid var(--black-color);
    width: 70%;
    font-weight: bold;
}

.popup-text {
    font-size: 2rem;
    margin: 20px;
    color: var(--black-color);
}

.popup-content button {
    display: block;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: normal;
    border: 3px solid var(--black-color);
    background: var(--light-color);
    border-radius: 15px;
    padding: 10px 15px;
    box-shadow: 3px 3px 3px var(--black-color);
}

.show {
    display: block;
}

/* Breakpoints */
@media only screen and (min-width: 600px) {
    .main-menu{
        width: 50%;
    }
    .question-box{
        padding: 20px;
        margin: 80px auto 0px;
        width: 80%;
        height: 360px;
    }
    .question{
        font-size: 1.1rem;
    }
}


@media only screen and (min-width: 768px) {
    .stats div{
        font-size: 1.5rem;
    }
    .full-stats{
        width: 700px;
        margin: 40px auto 0px;
    }
    .question-box{
        padding: 20px;
        margin: 50px auto 0px;
        width: 60%;
        height: 400px;
    }
    .generate{
        font-size: 1.3rem;
    }
    .answer button {
        font-size: 3rem;
    }
    .main-menu a {
        font-size: 1.3rem;
    }
}


@media only screen and (min-width: 992px) {
    .main-menu{
        width: 30%;
    }
    .main-menu{
        width: 30%;
    }
    .full-stats{
        width: 900px;
        margin: 60px auto 0px;
    }
    .stats{
        height: 80px;
    }
    .generate{
        height: 100px;
        font-size: 1.6rem;
    }
    .question{
        margin: 20px auto 0px;
        padding: 20px;
        font-size: 1.3rem;
    }  
    .answer{
        width: 700px;
        margin-top: 30px;
    }
}


@media only screen and (min-width: 1200px) {
    .question-box{
        padding: 0px;
        margin: 40px auto 0px;
        width: 50%;
        height: 420px;
    }
}