* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

:root {
    --primary-color:#5888A6;
    --dark-color: #32628C;
    --black-color: #00001a;
    --light-color: #ADC8D9;
    --white-color: #EBF0F2;   
    --gray-color: #e0e0e0;
}

/* Navbar */
.navbar {
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0px 15px 20px;
}

.logo-image {
    width: 30%;
}

.main-menu {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 550px;
} 

.main-menu a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: var(--black-color);
    font-weight: bold;
    font-size: 1rem;
}

.icon {
    display: block;
    font-size: 1.5rem;
}

.main-menu a:hover {
    transition-duration: 0.3s;
    color: var(--primary-color)
}

/* Overview */
.overview {
    display: flex;
    flex-direction: column;
}

.first-overview {
    border-radius: 40px;
    margin: 30px 40px 40px 40px;
    padding: 30px;
    background-color: var(--light-color);
}

.second-overview {
    border-radius: 40px;
    margin: 0px 40px 40px 40px;
    padding: 30px;
    background-color: var(--light-color);
}

.first-overview-heading{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.first-overview-text{
    font-size: 0.9rem;
}

.first-overview-button {
    text-align: center;
    border-radius: 10px;
    background-color: var(--white-color);
    padding: 10px 70px;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin: 20px auto 0px;
    text-decoration: none;
    color: var(--black-color)
}

.first-overview-button:hover {
    transition-duration: 0.7s;
    background-color: var(--primary-color)
}

.second-overview-heading{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.second-overview-text{
    font-size: 0.9rem;
}

.second-overview-button {
    text-align: center;
    border-radius: 10px;
    background-color: var(--white-color);
    padding: 10px 70px;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin: 20px auto 0px;
    text-decoration: none;
    color: var(--black-color)
}

.second-overview-button:hover {
    transition-duration: 0.7s;
    background-color: var(--primary-color)
}

/* Fun */
.fun{
    background-color: var(--gray-color);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
}

.left{
    display: flex;
    flex-direction: column;
}

.heading{
    display: flex;
    margin: 0px auto 0px;
    align-items: center;
}

.heading-first{
    font-size: 1.5rem;
    font-weight: normal;
}

.heading-fun{
    color: red;
    padding-left: 5px;
    font-size: 2rem;
}

.fun-text{
    padding: 10px 20px 10px;
}

.math-image{
    border-radius: 20px;
    width: 200px;
    margin: 10px auto 10px;
}

/* Breakpoints */
@media only screen and (min-width: 600px) {
    .overview{
        width: 80%;
        margin: 20px auto 0px;
    }

    .main-menu{
        width: 50%;
    }
    .fun{
        flex-direction: row;
        padding-left: 30px;
        padding-right: 40px;
    }
}


@media only screen and (min-width: 768px) {
    .overview{
        flex-direction: row;
        width: 90%;
        margin-top: 50px;
    }
    .first-overview{
        margin: 20px;
    }
    .second-overview{
        margin: 20px;
    }
    .first-overview-text{
        font-size: 1.2rem;
    }
    .second-overview-text{
        font-size: 1.2rem;
    }
    .main-menu a {
        font-size: 1.3rem;
    }
    .fun-text{
        font-size: 1.3rem;
    }
    .heading-first{
        font-size: 2rem;
    }
    .heading-fun{
        font-size: 3rem;
    }
    .math-image{
        width: 280px;
    }
}


@media only screen and (min-width: 992px) {
    .overview{
        flex-direction: row;
        width: 80%;
        margin-top: 30px;
    }
    .first-overview{
        margin: 30px;
    }
    .second-overview{
        margin: 30px;
    }

    .main-menu{
        width: 30%;
    }
    .first-overview-button, .second-overview-button {
        font-size: 1.2rem;
    }
    .math-image{
        padding:0px;
        margin: 0px;
    }
    .left{
        width: 400px;
    }
    .fun{
        padding-right: 0px;
        margin: 0px;
        justify-content: center;
    }
}


@media only screen and (min-width: 1200px) {
    .overview{
        flex-direction: row;
        width: 80%;
        margin-top: 80px;
    }
    .first-overview{
        margin: 50px;
    }
    .second-overview{
        margin: 50px;
    }
}

