* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--light-color);
}

:root {
    --primary-color:#5888A6;
    --dark-color: #32628C;
    --black-color: #00001a;
    --light-color: #ADC8D9;
    --white-color: #EBF0F2;   
    --gray-color: #e0e0e0;
}

/* Navbar */
.navbar {
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0px 15px 20px;
}

.logo-image {
    width: 30%;
}

.main-menu {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 550px;
} 

.main-menu a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: var(--black-color);
    font-weight: bold;
    font-size: 1rem;
}

.icon {
    display: block;
    font-size: 1.5rem;
}

.main-menu a:hover {
    transition-duration: 0.3s;
    color: var(--primary-color)
}

/* Resources-Navbar */
.resource-navbar {
    background: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px 20px 20px;
    overflow: hidden;
}

.resource-navbar a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 0.8rem;
}

.resource-navbar a:hover {
    transition-duration: 0.8s;
    color: var(--primary-color);
}

/* Overview */
.overview {
    display: flex;
    flex-direction: column;
    margin: 20px 30px 10px;
}

.formula-overview, .glossary-overview, .calculator-overview, .quizzes-overview{
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto 20px;
}

.formula-overview-heading, .glossary-overview-heading, .calculator-overview-heading, .quizzes-overview-heading{
    font-size: 1.6rem;
    padding-bottom: 10px;
}

.formula-overview-text, .glossary-overview-text, .calculator-overview-text, .quizzes-overview-text{
    font-size: 1rem;
}

/* Breakpoints */
@media only screen and (min-width: 600px) {
    .main-menu{
        width: 50%;
    }
    .resource-navbar a {
        font-size: 1rem;
    }
}


@media only screen and (min-width: 768px) {
    .overview{
        margin: 0px auto 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .formula-overview, .glossary-overview, .calculator-overview, .quizzes-overview {
        width: 40%;
        margin-top: 40px;
        height: 300px;
    }
    .resource-navbar a {
        font-size: 1.2rem;
    }
    .main-menu a {
        font-size: 1.3rem;
    }
}


@media only screen and (min-width: 992px) {
    .main-menu{
        width: 30%;
    }
    .formula-overview, .glossary-overview, .calculator-overview, .quizzes-overview {
        width: 20%;
        height: 350px;
    }

}


@media only screen and (min-width: 1200px) {
    
}
